body{
    background-color: #4baa3c;
}

canvas{
    display: block;
    margin: 10px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;
}

#btn-control{
    width: max-content;
    margin: 10px auto;
}

#maxFuel{
    width: 420px;
    background-color: white;
    margin: 10px auto;
    border: 2px solid black;
}

#fuelBar{
    height: 20px;
    background-color: #c63030;
    text-align: right;
    width: 100%;
}

